<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">MOTOWEB</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#MenuNavegacion"
      aria-controls="MenuNavegacion"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="MenuNavegacion">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active-link"
            (click)="onNavLinkClick()"

          >
            Inicio
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/pageNosotros"
            routerLinkActive="active-link"
            (click)="onNavLinkClick()"

          >
            Nosotros
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/preguntas"
            routerLinkActive="active-link"
            (click)="onNavLinkClick()"

          >
            Preguntas frecuentes
          </a>
        </li>
        <li class="nav-item">
          <a
          class="nav-link"
          routerLink="/mapa"
          routerLinkActive="active-link"
          (click)="onNavLinkClick()"
        >
          Rutas
        </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/route-builder"
            routerLinkActive="active-link"
            (click)="onNavLinkClick()"

          >
            Crear Ruta
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <ng-container *ngIf="!authService.isAuthenticated()">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/login"
              routerLinkActive="active-link"
              (click)="onNavLinkClick()"

            >
              Iniciar Sesión
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/register"
              routerLinkActive="active-link"
              (click)="onNavLinkClick()"

            >
              Registro
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="authService.isAuthenticated()">
  <li class="nav-item position-relative">
    <a
      class="nav-link"
      href="#"
      (click)="toggleDropdown($event)"
      style="cursor: pointer;"
    >
      Hola, {{ userName || 'Usuario' }}!
    </a>

    <ul
      class="dropdown-menu dropdown-menu-end show"
      *ngIf="dropdownOpen"
      style="position: absolute; top: 100%; right: 0;"
    >
      <li><a class="dropdown-item" routerLink="/perfil" (click)="closeDropdown()">Ver perfil</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><button class="dropdown-item" (click)="onLogout(); closeDropdown()">Cerrar sesión</button></li>
    </ul>
  </li>
</ng-container>



      </ul>
    </div>
  </div>
</nav>
