<header>

</header>
<div class="container">
  <div class="contenedor-imagen1">
    <img src="./../../assets/img/EVA.jpeg"  alt="imagen1">

  </div>

  <div class="contenedor-imagen2">
    <h1> EVA</h1>
    <h2> DEPARTAMENTO DE LIMPIEZA </h2>
    <p>Nuestra querida cofundadora, lleva la batuta en el departamento de limpieza y asegura que nuestro entorno de trabajo siempre esté impecable. Aunque su título oficial sea "Encargada de Limpieza", Eva aporta una energía positiva a cada rincón de la empresa. Su dedicación a mantener un espacio ordenado y acogedor refleja su compromiso con la comodidad y el bienestar de todo el equipo. Fuera del ámbito de las escobas y los productos de limpieza, encontrarás a Eva explorando galerías de arte locales o sumergiéndose en un buen libro en su rincón favorito. Su actitud positiva y su dedicación inspiran a todos a su alrededor.</p>
    <a href="https://www.instagram.com/cabrerizoeva/?hl=es"  target="_blank" rel="noopener">
      <i class="fab fa-instagram"></i>
    </a>
  </div>

  <div class="contenedor-imagen3">
    <h1> MARIO</h1>
    <h2> CEO </h2>
    <p>Apasionado por la tecnología desde temprana edad, es el cofundador y director técnico de nuestra empresa. Con una sólida formación en informática y años de experiencia en desarrollo de software, Mario lidera nuestro equipo de ingenieros con creatividad y habilidades técnicas excepcionales. Su visión innovadora ha sido fundamental para llevar adelante proyectos exitosos y para mantenernos a la vanguardia de las últimas tendencias tecnológicas. Cuando no está inmerso en líneas de código, a Mario le encanta explorar nuevas rutas de senderismo y experimentar con la cocina gourmet.</p>
    <a href="https://www.instagram.com/mario_houses/" target="_blank" rel="noopener">
      <i class="fab fa-instagram"></i>
    </a>
  </div>

  <div class="contenedor-imagen3">
    <img src="./../../assets/img/MARIO.jpeg"  alt="imagen1">

  </div>
</div>
<br>
<br>
<br>
<br>
<br>
  <p class="p1">hola profe😊</p>

