<div class="container">
<h1>Preguntas frecuentes</h1>


<h2> ¿Como sobrevivir al ataque de un dinosaurio</h2>
<p class="color"> Primera solución: </p>
<p> Utiliza una máquina del tiempo para retroceder en el tiempo antes de que los dinosaurios existieran.</p>
<p class="color"> Segunda solución: </p>
<p>Conviértete en amigo de los dinosaurios convenciéndolos de que eres uno de ellos o que les conseguirás la cena durante una semana.</p>
<p class="color"> Tercera solución: </p>
<p> Corre más rápido que el dinosaurio. </p>
<p class="color"> Cuarta solución: </p>
<p>Desafía a los dinosaurios a un concurso de baile y trata ganar.</p>
<p>Si no se te da bien bailar, recuerda que ya no existen</p>

<br>


<h2>¿Cuál fue el dinosaurio más grande?</h2>
<p>El dinosaurio más grande conocido es el Argentinosaurus, un saurópodo que vivió en
  lo que ahora es Argentina durante el Cretácico. Se estima que alcanzaba longitudes
  de hasta 100 pies (30 metros) o más.</p>
<br>

<h2>¿Cuál fue el dinosaurio más pequeño?</h2>
<p>El dinosaurio más pequeño conocido es el Microraptor, un pariente del Velociraptor
  que vivió en lo que ahora es China durante el Cretácico. Microraptor medía solo 16
  pulgadas (40 centímetros) de largo, aproximadamente del tamaño de un cuervo moderno.</p>
<br>

<h2>¿Cuántos tipos de dinosaurios existieron?</h2>
<p>Se han identificado y clasificado más de 700 géneros diferentes de dinosaurios. Sin embargo, la diversidad real de especies puede haber sido mucho mayor.</p>

<h2> Tienes mas preguntas ? </h2>
<p> Preguntale a google </p>
<p> O puedes dejarlas en nuestro foro 😉</p>
</div>
